body {
	color: palevioletred;
	background: blackrgb(33, 15, 29);
	font-size: 27px;
}


@keyframes flash {
	0% {
		color: black;
	}

	50% {
		color: blueviolet;
	}

	100% {
		color: deeppink;
	}
}

h1 {
  position: relative;
}

h1:before, h1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #FFD700; /* gold color */
  animation: fall 3s ease-in-out infinite;
}

h1 {
	animation: flash 1s infinite;
	text-align: center;
	box-shadow: 0 0 5px 2px #ccc, 0 0 10px 4px #eee, 0 0 20px 8px #ccc, 0 0 30px 12px #eee;
}

h2 {
	font-size: 30px;
}

h3 {
	color: palevioletred;
	font-size: 30px;
	text-align: center;
}

p {
	color: palevioletred;
}

ol {
	color: palevioletred;

ul {
		color: palevioletred;
	}