body {
  color: palevioletred;
  background:black;
  font-size: 27px;
}

h1 {
	text-align: center;
}
h2 {
	font-size:40px;
}
p{
  color:palevioletred;
}
ol{
  color:palevioletred;
  ul{
	color:palevioletred;
  }
}
